<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Table</title>
    <link rel="stylesheet" href="timetable.css" type="text/css">
</head>
<body>
    <div class="main">
         <img src="../cssicons/tt5.jpg">
        <div class="first">
            <h1 align="center">TIME TABLE</h1> 
    <table border="5" cellspacing="0" align="center"> 
            <tr>
                <td colspan="9" align="center" height="50" bgcolor="coral">
                    <h1 align="center">PAWAN KUMAR GOEL</h1>
                </td>
            </tr>
            <td align="center" height="50" 
                width="100"><br> 
                <b>Day/Period</b></br> 
            </td> 
            <td align="center" height="50" 
                width="100"> 
                <b>I<br>9:30-10:20</b> 
            </td> 
            <td align="center" height="50" 
                width="100"> 
                <b>II<br>10:20-11:10</b> 
            </td> 
            <td align="center" height="50" 
                width="100"> 
                <b>III<br>11:10-12:00</b> 
            </td> 
            <td align="center" height="50" 
                width="100"> 
                <b>12:00-12:40</b> 
            </td> 
            <td align="center" height="50" 
                width="100"> 
                <b>IV<br>12:40-1:30</b> 
            </td> 
            <td align="center" height="50" 
                width="100"> 
                <b>V<br>1:30-2:20</b> 
            </td> 
            <td align="center" height="50" 
                width="100"> 
                <b>VI<br>2:20-3:10</b> 
            </td> 
            <td align="center" height="50" 
                width="100"> 
                <b>VII<br>3:10-4:00</b> 
            </td> 
        </tr> 
        <tr> 
            <!--! Add input fields inside every <td>  -->
            <td align="center" height="50"> 
                <b>Monday</b></td> 
            <td align="center" height="50">
                <form action="/1/monday" method="POST">
                    <input type="text" name="subject" value="DSTL(DM)">
                    <input type="submit" value="Update">
                </form>
            </td> 
            <td align="center" height="50">
                <form action="/2/monday" method="POST">
                    <input type="text" name="subject" value="DBMS(PKG)">
                    <input type="submit" value="Update">
                </form>
            </td> 
            <td align="center" height="50">
                <form action="/3/monday" method="POST">
                    <input type="text" name="subject" value="ML(RK)">
                    <input type="submit" value="Update">
                </form>
            </td> 
            <td rowspan="6" align="center" height="50" bgcolor="#a1b1"> 
                <h2>B<br>R<br>E<br>A<br>K</h2> 
            </td> 
            <td colspan="1" align="center" bgcolor="light brown"
                height="50">
                <form action="/4/monday" method="POST">
                    <input type="text" name="subject" value="DAA LAB(DM)">
                    <input type="submit" value="Update">
                </form>
            </td> 
            <td colspan="1" align="center" bgcolor="light brown"
                height="50">
                <form action="/5/monday" method="POST">
                    <input type="text" name="subject" value="DAA LAB(DM)">
                    <input type="submit" value="Update">
                </form>
            </td> 
            <td colspan="1" align="center" bgcolor="light brown"
                height="50">
                <form action="/6/monday" method="POST">
                    <input type="text" name="subject" value="DAA LAB(DM)">
                    <input type="submit" value="Update">
                </form>
            </td> 
            <td align="center" height="50">
                <form action="/5/monday" method="POST">
                    <input type="text" name="subject" value="PDP(X)">
                    <input type="submit" value="Update">
                </form>
            </td> 
        </tr> 
        <tr bgcolor="#abe2"> 
            <td align="center" height="50"> 
                <b>Tuesday</b> 
            </td> 
            <td align="center" 
                height="50">
                <form action="/1/tuesday" method="POST">
                    <input type="text" name="subject" value="DBMS(PKG)">
                    <input type="submit" value="Update">
                </form> 
            </td> 
            <td bgcolor="coral" colspan="1" align="center" height="50">
                <form action="/2/tuesday" method="POST">
                    <input type="text" name="subject" value="WEB TECH(DM)">
                    <input type="submit" value="Update">
                </form>
            </td> 
            <td bgcolor="coral" colspan="1" align="center" height="50">
                <form action="/3/tuesday" method="POST">
                    <input type="text" name="subject" value="WEB TECH(DM)">
                    <input type="submit" value="Update">
                </form>
            </td> 
            <td align="center" height="50">
                <form action="/4/tuesday" method="POST">
                    <input type="text" name="subject" value="WEB TECH(DM)">
                    <input type="submit" value="Update">
                </form>
            </td> 
            <td align="center" height="50">
                <form action="/5/tuesday" method="POST">
                    <input type="text" name="subject" value="PDP(X)">
                    <input type="submit" value="Update">
                </form>
            </td> 
            <td bgcolor="coral" colspan="1" align="center" height="50">
                <form action="/6/tuesday" method="POST">
                    <input type="text" name="subject" value="LAB DBMS(PKG)">
                    <input type="submit" value="Update">
                </form>
            </td> 
            <td bgcolor="coral" colspan="1" align="center" height="50">
                <form action="/7/tuesday" method="POST">
                    <input type="text" name="subject" value="LAB DBMS(PKG)">
                    <input type="submit" value="Update">
                </form>
            </td> 
        </tr> 
        <tr BGCOLOR="LIGHTBROWN"> 
            <td align="center" height="50"> 
                <b>Wednesday</b> 
            </td> 
            <td align="center" height="50">
                <form action="/1/wednesday" method="POST">
                    <input type="text" name="subject" value="COI">
                    <input type="submit" value="Update">
                </form>
            </td> 
            <td align="center" height="50">
                <form action="/2/wednesday" method="POST">
                    <input type="text" name="subject" value="DAA">
                    <input type="submit" value="Update">
                </form>
            </td> 
            <td align="center" height="50">
                <form action="/3/wednesday" method="POST">
                    <input type="text" name="subject" value="DBMS">
                    <input type="submit" value="Update">
                </form>
            </td> 
            <td align="center" height="50">
                <form action="/4/wednesday" method="POST">
                    <input type="text" name="subject" value="PDP">
                    <input type="submit" value="Update">
                </form>
            </td> 
            <td align="center" 
                height="50">
                <form action="/5/wednesday" method="POST">
                    <input type="text" name="subject" value="WB">
                    <input type="submit" value="Update">
                </form>
            </td> 
            <td align="center" 
                height="50">
                <form action="/6/wednesday" method="POST">
                    <input type="text" name="subject" value="WB">
                    <input type="submit" value="Update">
                </form>
            </td> 
            <td align="center" height="50">
                <form action="/7/wednesday" method="POST">
                    <input type="text" name="subject" value="ML">
                    <input type="submit" value="Update">
                </form>
            </td> 
        </tr> 
        <tr> 
            <td align="center" height="50"> 
                <b>Thursday</b> 
            </td> 
            <td align="center" height="50">
                <form action="/1/thursday" method="POST">
                    <input type="text" name="subject" value="COI">
                    <input type="submit" value="Update">
                </form>
            </td> 
            <td align="center" height="50">
                <form action="/2/thursday" method="POST">
                    <input type="text" name="subject" value="DAA">
                    <input type="submit" value="Update">
                </form>
            </td> 
            <td align="center" height="50">
                <form action="/3/thursday" method="POST">
                    <input type="text" name="subject" value="DBMS">
                    <input type="submit" value="Update">
                </form>
            </td> 
            <td align="center" bgcolor="coral"
                height="50">
                <form action="/4/thursday" method="POST">
                    <input type="text" name="subject" value="MINI PROJECT">
                    <input type="submit" value="Update">
                </form>
            </td> 
            <td  align="center" bgcolor="coral"
                height="50">
                <form action="/5/thursday" method="POST">
                    <input type="text" name="subject" value="MINI PROJECT">
                    <input type="submit" value="Update">
                </form>
            </td> 
            <td align="center" bgcolor="coral"
                height="50">
                <form action="/6/thursday" method="POST">
                    <input type="text" name="subject" value="MINI PROJECT">
                    <input type="submit" value="Update">
                </form>
            </td> 
            <td align="center" height="50">
                <form action="/7/thursday" method="POST">
                    <input type="text" name="subject" value="PDP">
                    <input type="submit" value="Update">
                </form>
            </td> 
        </tr> 
        <tr> 
            <td align="center" height="50"> 
                <b>Friday</b> 
            </td> 
            <td align="center" bgcolor="LIGHTBROWN"
                height="50">
                <form action="/1/friday" method="POST">
                    <input type="text" name="subject" value="WEB TECH LAB">
                    <input type="submit" value="Update">
                </form>
            </td> 
            <td align="center" bgcolor="LIGHTBROWN"
                height="50">
                <form action="/2/friday" method="POST">
                    <input type="text" name="subject" value="WEB TECH LAB">
                    <input type="submit" value="Update">
                </form>
            </td> 
            <td align="center" bgcolor="LIGHTBROWN"
                height="50">
                <form action="/3/friday" method="POST">
                    <input type="text" name="subject" value="WEB TECH LAB">
                    <input type="submit" value="Update">
                </form>
            </td> 
            <td align="center" height="50">
                <form action="/4/friday" method="POST">
                    <input type="text" name="subject" value="DBMS">
                    <input type="submit" value="Update">
                </form>
            </td> 
            <td align="center" height="50">
                <form action="/5/friday" method="POST">
                    <input type="text" name="subject" value="ML">
                    <input type="submit" value="Update">
                </form>
            </td> 
            <td align="center" height="50">
                <form action="/6/friday" method="POST">
                    <input type="text" name="subject" value="DAA">
                    <input type="submit" value="Update">
                </form>
            </td> 
            <td align="center" height="50">
                <form action="/7/friday" method="POST">
                    <input type="text" name="subject" value="PDP">
                    <input type="submit" value="Update">
                </form>
            </td> 
        </tr> 
        <tr> 
            <td align="center" height="50"> 
                <b>Saturday</b> 
            </td> 
            <td align="center" height="50">
                <form action="/1/saturday" method="POST">
                    <input type="text" name="subject" value="COI">
                    <input type="submit" value="Update">
                </form>
            </td> 
            <td align="center" height="50">
                <form action="/2/saturday" method="POST">
                    <input type="text" name="subject" value="PDP">
                    <input type="submit" value="Update">
                </form>
            </td> 
            <td align="center" height="50">
                <form action="/3/saturday" method="POST">
                    <input type="text" name="subject" value="ML">
                    <input type="submit" value="Update">
                </form>
            </td> 
            <td align="center" bgcolor="LIGHTBROWN"
                height="50">
                <form action="/4/saturday" method="POST">
                    <input type="text" name="subject" value="COI">
                    <input type="submit" value="Update">
                </form>
            </td> 
            <td align="center" bgcolor="LIGHTBROWN"
                height="50">
                <form action="/5/saturday" method="POST">
                    <input type="text" name="subject" value="COI">
                    <input type="submit" value="Update">
                </form>
            </td> 
            <td align="center" height="50" bgcolor="coral">
                <form action="/6/saturday" method="POST">
                    <input type="text" name="subject" value="SPORTS">
                    <input type="submit" value="Update">
                </form>
            </td> 
            <td align="center" height="50" bgcolor="coral">
                <form action="/7/saturday" method="POST">
                    <input type="text" name="subject" value="SPORTS">
                    <input type="submit" value="Update">
                </form>
            </td> 
        </tr> 
    </table> 
        </div>

    </div>
</body>
</html>