<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teachers Portal</title>
    <link rel="stylesheet" href="teacher.css" type="text/css">
</head>
<body>
    <div class="parent">
        <div class="child">
            <img src="./images/img1.png">
            
        </div>
        <div class="main">
            <h1>WELCOME TO TEACHER'S PORTAL</h1>
        </div>
        <div class="p">
            <div class="box"><img src="./images/cc.jpg"></div>
        <div class="box2">
            <b>DIRECTOR, 
                <span>SHRI RAM COLLEGE OF ENGINEERING</span>
                
                <H1><U>DR. ALOK GUPTA</U></H1>
            </b>
        </div>
        <div class="box3">
            <b>DEAN, 
                <span>SHRI RAM COLLEGE OF ENGINEERING</span>
                
                <H1><U>MS. SAKSHI DHIMAN</U></H1>
            </b>
        </div>
        <!-- <div class="box5"><img src="cc.jpg"></div> -->
        <div class="box4"><img src="./images/cc.jpg"></div>
        </div>
        <div class="t">
            <h1><u>GLIMPSE OF THE DEPARTMENT</u></h1>
            <img src="./images/dp1.jpg">
            <img src="./images/dp2.jpg">
            <img src="./images/dp3.jpg">
            <img src="./images/dp4.jpg">
            <img src="./images/dp5.jpg">
            <img src="./images/dp6.jpg">
            <img src="./images/dp2.jpg">
            <img src="./images/dp1.jpg">
        </div>
        
        <div class="menubar">
            <h1><u>CHOOSE THE DEPARTMENT</u></h1>
            <div class="child2">
                <div class="menu2">    
                    <div class="snap">
                        <ul>
                            <li><a href="#">C.S.E</a>
                                <div class="submenu1">
                                    <ul>
                                        <li><a href="/timetable">DR. PAWAN KUMAR GOEL</a></li>
                                        <li><a href="#">MR. DEVESH MALIK</a></li>
                                        <li><a href="#">MR. RAVI BALIYAN</a></li>
                                        <li><a href="#">MRS. RUCHI RAI</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>   
            <div class="child3">
                <div class="menu3">
                    <ul>
                        <li><a href="#">E.C.E</a>
                            <div class="submenu2">
                                <ul>
                                    <li><a href="timetable.html">DR. PAWAN KUMAR GOEL</a></li>
                                    <li><a href="#">MR. DEVESH MALIK</a></li>
                                    <li><a href="#">MR. RAVI BALIYAN</a></li>
                                    <li><a href="#">MRS. RUCHI RAI</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="child4">
                <div class="menu4">
                    <ul>
                        <li><a href="#">CIVIL</a>
                            <div class="submenu3">
                                <ul>
                                    <li><a href="timetable.html">DR. PAWAN KUMAR GOEL</a></li>
                                    <li><a href="#">MR. DEVESH MALIK</a></li>
                                    <li><a href="#">MR. RAVI BALIYAN</a></li>
                                    <li><a href="#">MRS. RUCHI RAI</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="child5">
                <div class="menu5">
                    <ul>
                        <li><a href="#">ELECTRICAL</a>
                            <div class="submenu4">
                                <ul>
                                    <li><a href="timetable.html">DR. PAWAN KUMAR GOEL</a></li>
                                    <li><a href="#">MR. DEVESH MALIK</a></li>
                                    <li><a href="#">MR. RAVI BALIYAN</a></li>
                                    <li><a href="#">MRS. RUCHI RAI</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="child6">
                <div class="menu6">
                    <ul>
                        <li><a href="#">MECHANICAL</a>
                            <div class="submenu5">
                                <ul>
                                    <li><a href="timetable.html">DR. PAWAN KUMAR GOEL</a></li>
                                    <li><a href="#">MR. DEVESH MALIK</a></li>
                                    <li><a href="#">MR. RAVI BALIYAN</a></li>
                                    <li><a href="#">MRS. RUCHI RAI</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>  
        </div>
        <!-- <div class="rightside"><img src="bb1.jpg"></div> -->
        <div class="sidebar"><h1>QUERY AND NOTES SECTION</h1>
            <div class="p1">
                <div class="box5">
                    <h1>FOR TEACHERS</h1>
                    <form>
                        <table border="0" rules="none" cellpadding="10" align="center" frame="none">
                            <tr>
                                <td>
                                    <label for="st"><b>ENTER YOUR NAME</b></label>
                                </td>
                                <td>
                                    <input type="text" id="st" placeholder="enter name" >
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="pwd"><b>ENTER SUBJECT</b></label>
                                </td>
                                <td>
                                    <input type="text" id="pwd" required maxlength="5" >
                                </td>
                            </tr>
                            
                            <tr>
                                <td>
                                    <label><b>ENTER YOUR MAIL</b></label>
                                </td>
                                <td>
                                    <input type="email">
                                </td>
                            </tr>
                            
                            <tr>
                                <td>
                                    <label><b>ENTER DATE</b></label>
                                </td>
                                <td>
                                    <input type="date">
                                </td>
                            </tr>
                            
                            <tr>
                                <td>
                                    <label><b>SELECT CATEGORY</b></label>
                                </td>
                                <td>
                                    <label><input type="checkbox"><b>QUERY ANSWER</b></label>
                                    <label><input type="checkbox"><b>NOTES SHARING</b><label>
                                    <!-- <label><input type="checkbox" >Swimming</label> -->
                                </td>
                            </tr>
                            <!-- <tr>
                                <td>
                                    <label>Select Gender</label>
                                </td>
                                <td>
                                    <label><input type="radio" name="g" >Male</label>
                                    <label><input type="radio" name="g" >Female<label>
                                    <label><input type="radio" name="g" >others</label>
                                </td>
                            </tr> -->
                            <tr>
                                <td>
                                    <label><b>NOTES SHARING</b></label>
                                </td>
                                <td>
                                    <select>
                                        <option><b>SELECT UNIT</b></option>
                                        <option>UNIT 1</option>
                                        <option>UNIT 2</option>
                                        <option>UNIT 3</option>
                                        <option>UNIT 4</option>
                                        <option>UNIT 5</option>
                                        <!-- <option>Msc</option> -->
                                    </select>
                                    
                            </tr>
                            <tr>
                                <td><label><b>ANSWERING QUERY</b></label></td>
                                <td>
                                    <textarea cols="30" rows="10">
                                    </textarea>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <!-- <input type="submit"> -->
                                    <input type="RESET">
                                    <input type="button" value="SUBMIT">
                                    <!-- <button>Click me</button> -->
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div class="box6">
                    <h1>FOR STUDENTS</h1>
                    <form>
                        <table border="0" rules="none" cellpadding="10" align="center" frame="none">
                            <tr>
                                <td>
                                    <label for="st"><b>ENTER YOUR NAME</b></label>
                                </td>
                                <td>
                                    <input type="text" id="st" placeholder="enter name" >
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="pwd"><b>ENTER SUBJECT</b></label>
                                </td>
                                <td>
                                    <input type="text" id="pwd" required maxlength="5" >
                                </td>
                            </tr>
                            
                            <tr>
                                <td>
                                    <label><b>ENTER YOUR MAIL</b></label>
                                </td>
                                <td>
                                    <input type="email">
                                </td>
                            </tr>
                            
                            <tr>
                                <td>
                                    <label><b>ENTER DATE</b></label>
                                </td>
                                <td>
                                    <input type="date">
                                </td>
                            </tr>
                            
                            <tr>
                                <td>
                                    <label><b>SELECT CATEGORY</b></label>
                                </td>
                                <td>
                                    <label><input type="checkbox"><b>ASKING QUERY</b></label>
                                    <label><input type="checkbox"><b> NOTES</b><label>
                                    <!-- <label><input type="checkbox" >Swimming</label> -->
                                </td>
                            </tr>
                            <!-- <tr>
                                <td>
                                    <label>Select Gender</label>
                                </td>
                                <td>
                                    <label><input type="radio" name="g" >Male</label>
                                    <label><input type="radio" name="g" >Female<label>
                                    <label><input type="radio" name="g" >others</label>
                                </td>
                            </tr> -->
                            <!-- <tr>
                                <td>
                                    <label><b>NOTES SHARING</b></label>
                                </td>
                                <td>
                                    <select>
                                        <option><b>SELECT UNIT</b></option>
                                        <option>UNIT 1</option>
                                        <option>UNIT 2</option>
                                        <option>UNIT 3</option>
                                        <option>UNIT 4</option>
                                        <option>UNIT 5</option>
                                         <option>Msc</option> -->
                                    <!-- </select> -->
                                    
                            <!-- </tr> -->
                            <tr>
                                <td><label><b>ASKING QUERY</b></label></td>
                                <td>
                                    <textarea cols="30" rows="10">
                                    </textarea>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <!-- <input type="submit"> -->
                                    <input type="RESET">
                                    <input type="button" value="SUBMIT">
                                    <!-- <button>Click me</button> -->
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>